@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900');

/**{
	border: 1px solid red;
}*/

.corporative-color{
	color: #dda828;
}

.navbar-inverse .navbar-brand{
	color: white;
}

a.logo  {
	color: white;
	font-family: Lato;
	font-weight: 900;
	letter-spacing: 2px;
}


div.header-img{
	 	background-image: url(../img/header2.jpg);
	 	height: 756px;
	 	background-repeat: no-repeat;
	 	background-position: center center;
	 	background-size: cover;
	 	margin-top: 0px;
	 	margin-bottom: 0px;
	}

.nav-margin{
	margin-bottom: 0px;
}



div.main-img{
		position: relative;
		top: -250px;
	 	background-image: url(../img/main.png);
	 	height: 1124px;
	 	background-repeat: no-repeat;
	 	background-position: center center;
	 	background-size: cover;
	 	margin-top: 0px;
	}




.flex{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 496px;


}
.banner-elements h1{
	color: white;
	font-family: Lato;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
}

.banner-elements h2{
	color: white;
	font-family: Lato;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	
}





/*Elements info main*/
.info-elements{
	position: relative;
	top:280px;
	text-align: center;
	margin-bottom: 30px;
}

.glyphicon{
	font-size: 40px;
	color: #dda828;
}

.info-elements h3{
	font-family: Lato;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;

}

/*New Arrivals*/

.new-arrivals{
	position: relative;
	top: -220px;
}

.new-arrivals h2{
	font-family: Lato;
	font-weight: 900;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 36px;
}

.new-arrivals h4{
	font-family: Lato;
	font-weight: 400;
	font-size: 18px;
}


.new-arrivals h5{
	color: #dda828;
	font-family: Lato;
	font-weight: 300;
	font-size: 28px;
	margin-bottom: 70px;
}


@media (min-width: 768px){
	.navbar{
		border-radius: 0px;
	}
 }

 @media (max-width: 600px) {
  div.header-img {

  }