<div class="container">
	<h1>Add motorcyle</h1>
	<form action="" method="POST" class="form-inline" role="form" ng-submit="createMoto($event)">

		<label for="input" class="control-label">Brands:</label>
		<input  ng-model="idBrand" list="listBrands" placeholder="Input brand" ng-change="findModels()">
		<datalist id="listBrands">
		  <option ng-repeat="brand in brands" value="{{ brand.MakeName}}">
		</datalist>

<br><br>

		<label for="input" class="control-label">Model:</label>
		<input list="listModels" ng-model="idModel">
		<datalist id="listModels">
		  <option ng-repeat="model in models" value="{{ model.Model_Name}}">
		</datalist>	

<br><br>

		<label for="input" class="control-label">Price:</label>
		<input type="text" ng-model="price">

<br><br>

		<label for="input" class="control-label">Year:</label>
		<input type="text" ng-model="year">

<br><br>

		<label for="input" class="control-label">Image:</label>
		<input type="text" ng-model="image">

<br><br>	

		<label for="input" class="control-label">Description:</label>
		<textarea ng-model="description" name="textarea" rows="10" cols="100"></textarea>

		<button type="submit" class="btn btn-primary">Create</button>
	</form>

</div>



<!-- 	<form ng-submit="findModels($event)" action="" method="POST" class="form-inline" role="form">

		<label for="input" class="control-label">Brands:</label>
		<input  ng-model="idBrand" list="listBrands" placeholder="Input brand">

		<datalist id="listBrands">
		  <option ng-repeat="brand in brands" value="{{ brand.MakeName}}">
		</datalist>
		<button type="submit" class="btn btn-primary">Search</button>
	</form> -->



