
<div class="header-img">
	<div class="container visible-sm-block visible-md-block visible-lg-block">
		<div class="row">
			<div class="col-sm-5 col-md-4 banner-elements">
				<div class="flex">
				<h1 class="animated fadeInDown">Lorem ipsum dolor <span class="corporative-color">sit Sed </span>velit erat</h1>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit erat, pretium vel odio sit amet, mollis euismod sem.</h2>
				</div>
			</div>
		</div>
	</div>
</div> 

	<div class="main-img">
		<div class="container">
			<div class="col-md-4 info-elements">
			    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				<h3>Reparaciones</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugit tempora impedit iusto tempore asperiores numquam, laboriosam suscipit amet architecto ipsa ratione animi, quis consectetur ipsum quo necessitatibus, ut laudantium.</p>
			</div>

			<div class="col-md-4 info-elements">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<h3>Confianza</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugit tempora impedit iusto tempore asperiores numquam, laboriosam suscipit amet architecto ipsa ratione animi, quis consectetur ipsum quo necessitatibus, ut laudantium.</p>
			</div>

			<div class="col-md-4 info-elements">
				<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
				<h3>Mejores precios</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugit tempora impedit iusto tempore asperiores numquam, laboriosam suscipit amet architecto ipsa ratione animi, quis consectetur ipsum quo necessitatibus, ut laudantium.</p>
				
			</div>
		</div>
	</div>


<div class="new-arrivals">
	<div class="container">
		<h2 class="text-center"><span class="corporative-color">New</span> Arrivals</h2>
		<div class="col-md-3 text-center">
			<img src="../img/moto1.jpg" class="img-responsive">
			<h4>SYM Symphony 125 SR</h4>
			<h5>1.599,00€</h5>
		</div>

		<div class="col-md-3 text-center">
			<img src="../img/moto1.jpg" class="img-responsive">
			<h4>SYM Symphony 125 SR</h4>
			<h5>1.599,00€</h5>
		</div>

		<div class="col-md-3 text-center">
			<img src="../img/moto1.jpg" class="img-responsive">
			<h4>SYM Symphony 125 SR</h4>
			<h5>1.599,00€</h5>
		</div>

		<div class="col-md-3 text-center">
			<img src="../img/moto1.jpg" class="img-responsive">
			<h4>SYM Symphony 125 SR</h4>
			<h5>1.599,00€</h5>
		</div>
	</div>
</div>


