
<div class="header-img">
	<div class="container">
		<div class="row">
			<div class="col-md-4 banner-elements">
				<h1>Lorem ipsum dolor <span class="corporative-color">sit Sed </span>velit erat</h1>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit erat, pretium vel odio sit amet, mollis euismod sem.</h2>
			</div>
		</div>
	</div>
</div> 


<div class="info-img">
	<div class="container"></div>
</div>


<div class="moto-img">
	<div class="container"></div>
</div>


<div class="orange">
	<div class="container"></div>
</div>